* {
  font-family: "Century Gothic", sans-serif, "google";
  word-spacing: 0.05em;
}

body {
  position: relative;
}

.navbar-default {
  letter-spacing: 0.06em;
}

.active {
  background-color: #e0dfdf;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/spinner.gif) 50% 50% no-repeat rgb(249, 249, 249);
}

.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: solid #fff 5px;
  left: -5px;
  background: #fff;
}

#boxtext {
  width: 24em;
  position: fixed;
  top: 30%;
  left: 20%;
}
#boxtext p {
  margin: 10px 0;
  text-align: left;
}

hr {
  display: block;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  color: #a59a9d;
}

#myBtnContainer {
  margin-top: 2.5%;
  text-align: center;
}

#mnsry_container {
  text-align: center;
}

.container {
  display: block;
  margin: auto;
}

#welcome {
  margin: 0 auto;
  z-index: 1;
  text-align: left;
  color: #666666;
  top: 20%;
  position: relative;
  margin-left: 10vw;
}

#my_title {
  text-align: left;
  color: #666666 !important;
  top: 20%;
  position: relative;
  margin-left: 10vw;
}

#location {
  color: #666666 !important;
  top: 20%;
  position: relative;
  margin-left: 10vw;
}

.jumbotron a:hover {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

h1 {
  text-align: left;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  opacity: 1;
  text-shadow: 1px 1px #87787c;
}

h2 {
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
  color: #87787c !important;
}

h3 {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  opacity: 1;
  color: #87787c !important;
}

.container h4 {
  color: #87787c !important;
}

.parallax-window h4 {
  color: #fff;
}

#downArrow {
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 1;
}

#downArrow:hover {
  opacity: 0.5;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.parallax-window {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
  background: transparent;
  height: 650px;
  height: 100%;
  width: 100%;
}

.jumbotron2 {
  background-size: cover;
  box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.15);
  background: url(../img/misc/photography.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  text-align: center;
  width: 100%;
  display: table;
}

.jumbotron2 h3 {
  font-family: "Lobster Two", Helvetica, sans-serif;
  text-align: center;
  color: #f3f1f2 !important;
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.15);
}

.jumbotron3 {
  background-size: cover;
  box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.2);
  background: url(../img/misc/background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  display: table;
  text-align: center;
  width: 100%;
}

.jumbotron3 h3 {
  text-align: center;
  color: #f3f1f2 !important;
  display: table-cell;
  vertical-align: middle;
}

.jumbotron3 a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.jumbotron3 a:hover {
  color: #cce6ff;
}

.navbar-brand {
  font-weight: bold;
}

.instagramPreview {
  padding: 2% 25%;
  background-color: #fff;
}

.instagramPreview p {
  text-align: center;
}

/*.instagramPreview {
  padding: 2% 7%;
  background-color: #fff;
}

.instagramPreview p {
  text-align: center;
}*/

@media (min-width: 500px) {
  .instagramPreview {
    padding: 2% 2%;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .instagramPreview {
    padding: 2% 20%;
    text-align: center;
  }
}

.responsive {
  width: 100%;
  height: auto;
  padding: 0.5%;
}

#blog .responsive {
  max-width: 800px;
  height: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.about h2 {
  font-size: 3em;
  padding: 0.2em;
  margin: 1em;
  color: black;
}

.about {
  background-color: rgba (255, 0, 0, 0.4);
  text-align: left;
  color: #87787c;
  margin-top: 2.5%;
}

.about p {
  font-size: 1.5rem;
  color: #87787c;
}

.about h4 {
  color: #87787c !important;
  font-weight: bold;
}

.link a {
  border: none;
  outline: none;
  padding: 10px;
  color: #938589;
  background-color: #d9d9d9;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-radius: 4px;
}

.link a:hover {
  color: #636466;
}

p a {
  color: #87787c;
  text-decoration: underline;
  -webkit-text-decoration-color: #a1bed6; /* Safari */
  text-decoration-color: #a1bed6;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

p a:hover,
a:active {
  color: black;
  text-shadow: 0 0 0.3px black;
  text-decoration-color: #a1bed6;
  -webkit-text-decoration-color: #a1bed6; /* Safari */
  text-decoration: underline !important;
}

#footerlist a {
  color: #292425;
  text-decoration: none;
}

#footerlist a:hover,
a:active {
  color: black;
  text-shadow: 0 0 0.6px black;
  text-decoration: none !important;
}

#centered {
  text-align: center;
}

.col-md-3 h3 {
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  color: #282d2a;
  opacity: 0;
}

.nav a {
  color: black;
  font-size: 16px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
}

.nav a:hover {
  color: rgb(100, 100, 100);
  font-size: 16px;
}

.navbar {
  margin-bottom: 0px;
}

.images {
  width: 60%;
  float: left;
  position: relative;
}

.fa {
  font-size: 32px;
}

.footer {
  background-color: #fff;
  color: #999999;
  padding-top: 1%;
  padding-bottom: 0.5%;
  position: relative;
}

#footer li {
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  padding-top: 10px;
}

.footer p {
  text-align: left;
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

li {
  color: #87787c;
  text-align: left !important;
  font-size: 15px;
}

#footerlist li {
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  padding-top: 10px;
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css");
div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6 {
  padding: 0.5%;
}

/* The hover effect */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 40%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  overflow: hidden;
  transition: all 0.15s ease;
}

.hovereffect a:hover {
  color: #a59a9d;
  font-weight: bold;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #fff;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hovereffect a,
.hovereffect p {
  color: #fff;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*Filter Portfolio pics*/
.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
  position: relative;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  color: #938589;
  background-color: #d9d9d9;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn:focus {
  color: #fff !important;
}

.active:hover {
  color: #fff !important;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

/* MASONRY */

* {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

.grid {
  max-width: 165vw;
  margin: 2.5vw auto;
  margin-left: 10vw;
  margin-right: 10vw;
}

.grid-item {
  padding: 5px;
  box-sizing: border-box;
}

@media (min-width: 500px) {
  .grid-item {
    width: 50%;
  }
  .main-carousel {
    margin: 0 10%;
  }
}

@media (min-width: 1000px) {
  .grid-item {
    width: 33.33%;
  }

  .main-carousel {
    margin: 0 10%;
  }
}
.grid-item-blog {
  padding: 5px;
  box-sizing: border-box;
}
@media (min-width: 500px) {
  .grid-item-blog {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .grid-item-blog {
    width: 50%;
  }
}
